.panda-bg{
    background-color: #FCEAE8;
}
.panda-btn{
    background-color: #FF3A88;
    color: #fff;
    margin-bottom: 15px;
}
.panda-img{
    width: 40%;
}
.watch-bg{
    background-color: #FFC107;
}
.bag-bg{
    background-color: #198754;
}
.shoes-bg{
    background-color: #0D6EFD;
}